<%= form_with(model: webhook) do |form| %>
  <% if webhook.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(webhook.errors.count, "error") %> prohibited this webhook from being saved:</h2>

      <ul>
        <% webhook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.text_field :event %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
